.btn {
  width: 100%;
  border: 2px solid black;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  text-transform: uppercase;
  padding: 0.5em, 0;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: background 0.2s ease;
}

.btn.active {
  background-color: #ff69b4;
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #ffc0cb;
}

@media (max-width: 600px) {
  .btn {
    padding: 0.4em 0;
  }
}
